@font-face {
    font-family: '777Balsamtint';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



header{
    background-image:url('https://mdl.artvee.com/sftb/600222sl.jpg');
    display: block;
    color: pink;
    padding: 30px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: '777Balsamtint';
    text-decoration: none;
   
}

.nav-bar{
    margin-top: 97px;
    display:flex;
    text-align:center;
    position: fixed;
    float:right;
    width: 1555px;
    font-family: 'ImcreSoojin';
    
    
}
.nav-nanum{
    display: inline-block;
    background-color: greenyellow;
    margin: 0%;
    flex: 1;
    font-family: 'ImcreSoojin';
}

.nav-buytogether{
    display: inline-block;
    background-color:#56A902;
    flex: 1;
}

.contents-container{
   display: flex;
}
.left-container{
   
    flex: 1.5;
/*    
    border: 1px solid black; */
 
}

.center-container{
   
    flex: 7;
   
   
    /* border: 1px solid black; */
    
}

.right-container{
  
    flex: 1.5;
   
    
    /* border: 1px solid black; */
  
}

.vegi-card-wrapper{
    display: flex;
    text-align: left;
   
}


.vegi-card{
   
    margin:30px auto;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.5)
}


.vegi-card img{
    margin-top: 7px;
    width: 200px;
    height: 188px;
    border-radius: 75%;
    margin-left: 20px;
}



.vegi-title{
    font-size: 2rem;
    margin-top:150px ;
    margin-left: 30px;
    display: block;
}

.category{
    float:right;
    margin-top:-25px;
    font-size:20px;
}

p{
    margin-top: 15px;
    
    margin-bottom: 5px;
    font-family: 'MaplestoryOTFBold';
}

a{
    color: black;
    margin: 0px auto;
}

#gps{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    position: relative;
    top: 85px;
    left: 50px;
}

#carrot{
    position:relative;
    bottom:165px;
    left:400px;

}

#apple{
    position: relative;
    bottom: 165px;
    left: 400px;
}

#orange{
    position: relative;
    bottom: 165px;
    left: 400px;
}

#green{
    position: relative;
    bottom: 165px;
    left: 400px;

}
.gps-messages{
    margin-top: 5px;

}

.p1{
    position: relative;
    left: 300px;
    bottom: 200px;
    line-height: 30px;
}

.p2{
    position: relative;
    left: 300px;
    bottom: 200px;
    line-height: 30px;
}
